@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
    --color-primary-black: #010101;
    --color-primary-turquoise: #05AB9E;
    --color-primary-turquoise-o-015: rgba(5, 171, 158, 0.10);
    --color-secundary-turquoise: #29B6BB;
}

@theme {
    --font-display : "Exo 2", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #9328e7;
}

.color-primary-black{
    color: var(--color-primary-black);
}
.color-primary-turquoise{
    color: var(--color-primary-turquoise);
}
.color-secundary-turquoise{
    color: var(--color-secundary-turquoise);
}

.bg-primary-black{
    background-color: var(--color-primary-black);
}
.bg-primary-turquoise{
    background-color: var(--color-primary-turquoise);
}
.bg-secundary-turquoise{
    background-color: var(--color-secundary-turquoise);
}

.bg-primary-turquoise-015{
    background-color: var(--color-primary-turquoise-o-015);
}

.bg-image-custom{
    background-image: url(../../src/assets/images/nodos-bg.png);
    background-repeat: no-repeat;
    background-position: right 0;
}



@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}


/*Custom scrollbar styling*/

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.mask-img-perfil{
    background-image: url(../../src/assets/images/mask-img-perfil.png);
    background-size: cover;
    background-position: center;
    height: 124px;
    width: 124px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@layer utilities {
    /*Animate text  with shine effect*/
    @keyframes text-shine {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }

    .animate-text-shine {
        animation: text-shine 3s ease-in-out infinite alternate;
    }
}


.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black 
           bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 
           border border-gray-100 outline-none 
           focus-within:border-purple-300;
  }
  
  .btn-primary {
    @apply w-full text-sm font-medium text-white 
           bg-black shadow-lg shadow-purple-600/5 
           p-[10px] rounded-md my-1 
           hover:bg-purple-600/15 hover:text-black 
           cursor-pointer;
  }
  
  .btn-small {
    @apply flex items-center gap-2 text-[13px] font-semibold 
           text-white bg-gradient-to-r 
           from-purple-500/85 to-purple-700 
           px-5 py-1.5 rounded cursor-pointer;
  }
  
  .btn-small-light {
    @apply flex items-center gap-2 text-[12px] font-semibold 
           text-purple-800 bg-purple-600/15 
           border border-purple-50 
           hover:border-purple-400 
           px-3 py-1.5 rounded cursor-pointer;
  }
  
  .form-input {
    @apply w-full text-sm text-black outline-none 
           bg-white border border-slate-100 
           px-2.5 py-3 rounded-md mt-2 
           placeholder:text-gray-500 
           focus-within:border-purple-300;
  }
  
  